{
  "presets": [
    "latest",
    "stage-3",
    "flow"
  ],
  "plugins": [
    "transform-export-extensions",
    ["module-resolver", {
      "root": ["./src", "./config"],
      "alias": {
        "@": "./src",
        "@config": "./config"
      }
    }]
  ]
}