{
  "presets": [
    "latest",
    "stage-3",
    "flow"
  ],
  "plugins": [
    "transform-export-extensions",
    "dynamic-import-node",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./"
      }
    }]
  ]
}